<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><title>Add</title>
</head>
<body>
    <div class="container">
        <form action="/add" method="post" class="form-group" style="width: 200px">
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" placeholder="Enter your email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" placeholder="Enter your password" class="form-control">
            </div>
            <button class="btn btn-success">Sign In</button>
        </form>
    </div>
</body>
</html>
<% if (isDev) { %>
<script src="http://localhost:3000/reload/reload.js"></script>
<% } %>
